[app]
vm2 ansible_ssh_host={{ vm2 }} ansible_connection=ssh ansible_user=ansible ansible_ssh_pass=4444
vm3 ansible_ssh_host={{ vm3 }} ansible_connection=ssh ansible_user=ansible ansible_ssh_pass=4444
